<!-- Group 8 Charles Loughin, Harvey Ng -->
<!-- Original work: Error page displayed when an existing email is being added/edited in -->

<html>
<head>
	<title>users</title>
	
<body>
<h1>users</h1>
    <nav>
      <a href="/" style="margin-inline-end: 10px">Home</a>  
      <a href="/users" style="margin-inline-end: 10px">users</a>
      <a href="/gyms" style="margin-inline-end: 10px">gyms</a>  
      <a href="/users_gyms" style="margin-inline-end: 10px">users_gyms</a>  
      <a href="/sessions" style="margin-inline-end: 10px">sessions</a>
      <a href="/attempts">attempts</a>  
    </nav>

	<p><strong>ERROR: You tried adding/editing in an email that already exists. Please return to the users page and try another email.</strong></p>
    
    <a href="/users"><button>Return to users</button></a>
		
</body>
</html>